#find-us {
	background-color: var(--color-background-main);

	.container {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		padding-block: 2rem;
		gap: 2rem;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		text-align: center;
	}

	.addressCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		width: 80%;
		.wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
		}
		.item {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			text-align: left;
			.fa {
				color: var(--color-primary);
			}
		}
	}
	.icon-bar {
		display: flex;
		width: 80%%;
		justify-content: space-evenly;
		align-items: center;
		gap: 1rem;
		.icon {
			font-size: 1.5rem;
		}
	}

	.map {
		display: block;
		width: 80%;
		height: auto;
		border-radius: 10px;
		/* height: ; */
	}
}

/* -----TABLET----- */
@media (min-width: 768px) {
	#find-us {
		.container {
			flex-direction: row;
			gap: 0rem;
			padding-block: 4rem;
		}

		.content {
			width: 45%;
			gap: 2rem;
		}

		.addressCard {
			width: 90%;

			.wrapper {
				gap: 0rem;
			}
		}

		.icon-bar {
			gap: 0.5rem;
			/* justify-content: space-evenly; */
		}

		.map {
			display: inline;
			object-position: left;
			object-fit: cover;
			width: 60%;
			height: 500px;
		}
	}
}

/* -----DESKTOP----- */
@media (min-width: 1400px) {
	#find-us {
		/* .container {
		display: flex;
	
		justify-content: center;
		align-items: center;
		
		gap: 5rem;
	} */

		.container {
			flex-direction: row;
			gap: 4rem;
			padding-block: 10rem 5rem;
		}

		.content {
			align-items: flex-start;
			margin-top: 3rem;
			text-align: left;
			width: 50%;
			gap: 4rem;
		}

		.addressCard {
			align-items: flex-start;
			gap: 1.25rem;
			width: 90%;

			.wrapper {
				gap: 0.5rem;
			}

			.item {
				gap: 0.5rem;
			}
		}

		.icon-bar {
			display: flex;
			width: 80%;
			justify-content: flex-start;
			align-items: center;
			gap: 1rem;
			.icon {
				font-size: 1.5rem;
			}
		}

		.map {
			display: block;
			width: 50%;
		}
	}
}
